.AllDiv{
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    align-items: center;
    form{
        display: flex;
        flex-direction: column;
        gap: 20px   ;
        justify-content: center;
        align-items: center;
        input{
            width: 600px;
            height: 50px;
            font-size: 17px;
        }
        button{
            background-color: orange;
            color: white;
            width: 570px;
            height: 60px;
            border-radius: 10px;
            font-size: 22px;
            border: none;
            transition: .5s;
            
            &:hover{
                background-color: black;
                font-size: 18px;
            }
        }
        
    }
}